{
    "extends": "aftership",
    "plugins": [
        "prettier",
        "jest"
    ],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "jest": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    },
    "rules": {
        "comma-dangle":[
            "error",
            "never"
        ],
        "no-console":"off",
        "no-prototype-builtins":"off",
        "valid-typeof":[
            "error",
            {
                "requireStringLiterals":false
            }
        ],
        "class-methods-use-this":"off",
        "no-alert":"off",
        "no-else-return":"off",
        "no-implicit-coercion":"error",
        "no-loop-func":"off",
        "no-new":"off",
        "no-param-reassign":"off",
        "no-script-url":"off",
        "no-throw-literal":"off",
        "no-unused-expressions":"off",
        "vars-on-top":"off",
        "no-shadow":[
            "error",
            {
                "builtinGlobals":true
            }
        ],
        "no-unused-vars":[
            "error",
            {
                "args":"none",
                "vars":"local",
                "varsIgnorePattern":"^_"
            }
        ],
        "no-use-before-define":"off",
        "global-require":"off",
        "no-mixed-requires":"error",
        "no-path-concat":"off",
        "camelcase":"off",
        "func-names":"off",
        "indent":[
            "error",
            "tab",
            {
                "SwitchCase":1
            }
        ],
        "new-cap":"off",
        "no-continue":"off",
        "no-lonely-if":"off",
        "no-mixed-operators":"off",
        "no-plusplus":"off",
        "no-tabs":"off",
        "no-underscore-dangle":"off",
        "object-curly-spacing":[
            "error",
            "never"
        ],
        "quote-props":"off",
        "arrow-body-style":"off",
        "arrow-parens":"off",
        "object-shorthand":"off",
        "prefer-arrow-callback":"off",
        "prefer-const":"off",
        "prefer-rest-params":"off",
        "prefer-spread":"off",
        "prefer-template":"off",
        "require-yield":"off",
        "max-len":[
            "error",
            200,
            2,
            {
                "ignoreUrls":true,
                "ignoreComments":false,
                "ignoreStrings":true,
                "ignoreTemplateLiterals":true
            }
        ],
        "import/extensions":"off",
        "import/newline-after-import":"off",
        "import/no-dynamic-require":"off",
        "import/no-extraneous-dependencies":"off",
        "import/prefer-default-export":"off"
    }
}
