{
    "extends": "aftership",
    "plugins": [
        "prettier",
        "jest"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "jest": true
    },
}
