{
    "extends": "aftership",
    "plugins": [
        "prettier",
        "jest"
    ],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "jest": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
    }
}
